# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode (cache)
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/

בכוונה שמתי סולמית בכל שורה כדי שנחליט ביחד אם צריך את זה או שנמחק אותם 
# Local logs and temporary files
#logs/*.log
#*.tmp

# Operating system files
.DS_Store
Thumbs.db

# Project specific
configs/instances.json