# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode (cache)
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Project specific
configs/instances.json

# Local logs and temporary files
*.tmp
GITHUB-URL.txt 

*.logs
*.log
.vscode/